In [14]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords

** Data import **

In [15]:
columes = ["id", "year", "title", "authors", "journal", "abstract"]
df= pd.read_csv("dataset/node_information.csv",names=columes)

data_dic = {}
for index, row in df.iterrows():
    data_dic[row['id']] = (row['year'], row['title'], row['authors'], row['journal'], row['abstract'])
    
stop = set(stopwords.words('english')+['1','2','3','4','5','6','7','8','9','0'])

** cleaning the title and abstract **

In [155]:
corpus_title =df["title"].values.tolist()
corpus_abstract = df["abstract"].values.tolist()
tok_corp_tit = [nltk.word_tokenize(sent) for sent in corpus_title]
tok_corp_abs = [nltk.word_tokenize(sent) for sent in corpus_abstract]

,year1,year2,year_differ,sameAutCount,sameTitleWord,sameT1Ab2,sameT2Ab1,sameAbstract,wmDistance,GRU
0,1995,1995,0,-1,2,3,4,6,3.867921,1
1,1997,1996,1,0,0,1,0,6,7.302732,1
2,1993,1995,2,0,0,3,0,7,4.217448,0
3,1999,2003,4,0,0,1,1,7,5.294790,0
4,1997,2002,5,-1,0,0,1,7,3.839918,0
5,1997,1997,0,-1,0,10,4,41,5.308518,1
6,1999,1995,4,-1,0,0,2,8,4.923457,1
7,2002,1995,7,-1,1,3,3,12,3.709659,0
8,1997,1997,0,0,0,0,0,1,3.081206,1
9,2000,1992,8,0,0,1,0,4,4.183478,0
10,1994,2001,7,-1,0,0,0,0,3.198535,0
11,1997,1997,0,0,0,1,0,7,3.477798,1
12,2001,2000,1,0,0,0,0,0,4.105113,0
13,2001,1993,8,0,0,2,0,6,4.396140,0
14,1998,1992,6,0,0,1,0,5,5.286194,0
15,1994,1995,1,0,0,0,0,4,4.354139,0
16,2000,2002,2,0,0,0,0,8,6.230496,0
17,2002,1998,4,0,0,2,0,6,4.963636,1
18,1995,1993,2,0,0,0,0,3,4.462980,1
19,1993,1995,2,0,0,0,0,1,3.955754,0
20,1996,1999,3,0,0,0,0,1,6.030022,0
21,2000,2001,1,0,0,0,0,9,4.206323,0
22,2001,1997,4,0,0,0,1,16,3.692657,1
23,1994,1999,5,-1,0,2,0,11,6.408527,1
24,1995,1992,3,1,1,1,8,24,3.840934,1
25,1997,1998,1,-1,0,2,2,11,5.274952,0
26,2000,2000,0,0,0,0,0,2,2.966300,0
27,1997,2001,4,0,0,0,0,1,4.290019,0
28,1997,1995,2,-1,0,2,0,9,5.485094,1
29,2001,2001,0,0,0,0,0,0,2.582621,0
...,...,...,...,...,...,...,...,...,...,...
615482,1994,2002,8,-1,0,0,2,17,5.444720,0
615483,1995,1994,1,0,1,6,1,17,1.452094,1
615484,1999,1997,2,0,0,1,9,40,3.941287,1
615485,1993,1999,6,0,1,3,2,6,6.227677,0
615486,2000,2001,1,0,0,0,0,6,3.828371,0
615487,1999,1999,0,0,0,0,0,5,3.557059,0
615488,2000,1994,6,0,0,0,0,0,4.758941,0
615489,2002,1998,4,0,0,0,0,2,3.714742,0
615490,2002,1999,3,0,0,0,2,30,3.450101,1
615491,1997,1994,3,-1,0,0,0,1,5.594625,0
615492,2001,2000,1,0,1,9,4,35,3.648357,1
615493,1993,1992,1,0,2,5,4,16,3.439254,1
615494,2003,2002,1,0,0,2,4,56,4.371928,1
615495,1998,2003,5,0,0,1,0,7,3.317421,0
615496,1996,1995,1,0,0,0,2,4,4.890057,1
615497,2000,1998,2,-1,0,3,0,7,4.036042,1
615498,1996,2003,7,0,0,0,0,0,5.222284,0
615499,1993,1999,6,0,0,0,0,0,3.583394,0
615500,1994,2001,7,0,0,0,0,1,5.526043,0
615501,1999,1997,2,0,0,0,0,1,4.122965,0
615502,1998,1992,6,0,0,0,0,17,5.094730,0
615503,2000,1999,1,0,0,2,0,21,3.156234,1
615504,1998,2000,2,0,0,0,0,0,5.176316,0
615505,2002,1997,5,0,0,0,0,6,9.498604,0
615506,2003,2002,1,0,0,0,3,11,5.945865,1
615507,1997,1993,4,-1,1,1,2,2,3.478184,1
615508,1997,1992,5,0,0,0,0,3,3.136135,0
615509,2000,1996,4,0,0,0,0,3,3.670212,0
615510,2002,2001,1,-1,0,0,0,0,6.216839,1
615511,1999,1998,1,-1,0,2,1,20,2.963758,1

In [ ]:
corpus_title_c = []
for sent in tok_corp_tit:
    temp = ''
    for w in sent:
        if w not in stop:
            temp = temp + ' ' + w
    corpus_title_c.append(temp)
clean_title = pd.DataFrame()
clean_title['text'] = corpus_title_c
clean_title.to_pickle('clean_title.pkl')

In [ ]:
corpus_abstract_c = []
for sent in tok_corp_abs:
    temp = ''
    for w in sent:
        if w not in stop:
            temp = temp + ' ' + w
    corpus_abstract_c.append(temp)
clean_abstract = pd.DataFrame()
clean_abstract['text'] = corpus_abstract_c
clean_abstract.to_pickle('clean_abstract.pkl')